@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/foundation.css" rel="stylesheet" />
<img src="~/images/event management logo.jpg" alt="Logo">

<!-- Nav Bar-->
<ul class="dropdown menu" data-dropdown-menu>
    <li class="menu-text">Event Management</li>
    <li><a href="~/Home/Index">Home</a></li>
    <li><a href="~/Events/Index">Events</a></li>
    <li><a href="~/Organizers/Index">Organizers</a></li>
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage Your Events and Event Organizers Here!</a>.</p>
</div>
